#header{

width: 250px;
height: 290px;
border: 1px solid #000;

}

.regform{
width: 250px;
height: 290px;
border: 1px solid #000;
}

<link rel="stylesheet" type="text/css" href="formlayout.css">

input::-moz-placeholder { 
    font-size: 16pt; color: #555;
}
input::-moz-placeholder { 
    font-size: 16pt; color: #555;
}
input::-ms-input-placeholder {
    font-size: 16pt; color: #555;
}